<robot name="Scara_PRRR">

  <link name="P1-L">
    <visual>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="L1" type="prismatic">
    <origin xyz="0.15 0 0.27" rpy="0 0 0"/>
    <parent link="P1-L"/>
    <child  link="P1-J1"/>
    <axis   xyz="0 0 1"/>
    <limit  lower="0" upper="0.50" effort="100" velocity="0.5"/>
  </joint>

  <link name="P1-J1">
    <visual>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-J1.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-J1.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="R1" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="P1-J1"/>
    <child  link="P1-L2"/>
    <axis   xyz="0 0 1"/>
    <limit  lower="-1.57" upper="1.57" effort="100" velocity="0.5"/>
  </joint>

  <link name="P1-L2">
    <visual>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L2.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L2.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="R2" type="revolute">
    <origin xyz="0.52 0 -0.08" rpy="0 0 0"/>
    <parent link="P1-L2"/>
    <child  link="P1-L3"/>
    <axis   xyz="0 0 1"/>
    <limit  lower="-3.14" upper="3.14" effort="100" velocity="0.5"/>
  </joint>

  <link name="P1-L3">
    <visual>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L3.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-L3.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="R3" type="revolute">
    <origin xyz="0.38 0 -0.1665" rpy="0 0 0"/>
    <parent link="P1-L3"/>
    <child  link="P1-E"/>
    <axis   xyz="0 0 1"/>
    <limit  lower="-3.14" upper="3.14" effort="100" velocity="0.5"/>
  </joint>

  <link name="P1-E">
    <visual>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-E.STL"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://my_robot/meshes/P1-E.STL"/>
      </geometry>
    </collision>
  </link>

</robot>
